<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> CrashCourse - {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/layouts/w3.css">
</head>

<body>
    <!-- Sidebar -->
    <div class="w3-container w3-indigo">
        <h1>Crash Course</h1>
    </div>
    <div class="w3-sidebar w3-indigo w3-bar-block" style="width:20%">
        <a href="#" class="w3-bar-item w3-button">Home</a>
        <a href="#" class="w3-bar-item w3-button">Category</a>
        <a href="#" class="w3-bar-item w3-button">Become a Tutor</a>
    </div>
    <!-- Page Content -->
    <div style="margin-left:20%">
        <div class="w3-container">
            <h2>Sidebar Navigation Example</h2>
            <p>The sidebar with is set with "style="width:25%".</p>
            <p>The left margin of the page content is set to the same value.</p>
        </div>

    </div>

</body>

</html>
